<!--

<div class=" g-0 bg-light ">


  <div style="text-align:center">
    <div class="h2"  >Planning Poker Agile</div>
    <h1 style="color:darkblue;">Estimate Smarter, Deliver Faster</h1>
    <br>
  </div>

  <div style="text-align:center">
    <p>Plan your work with a gamified technique to estimate the efforts of project management tasks your team needs to focus on.
    </p>
  </div>
  <div class="image" style="text-align:center; ">
    <img src="assets/images/top.jpg" alt="Description de l'image" width="800" height="400" style="border-radius: 8px">
  </div>

</div>

<br>
-->

<div style="text-align:center">

  <h2 >Planning Poker Agile </h2>
</div>

<!--******************************Slogan***************-->
<div style="text-align:center">
  <h1 style="color:green;" >Estimate Smarter, Deliver Faster</h1>
</div>

<!--******************************image***************-->

<!--<div style="text-align:center">
  <h6 class="font-weight-light">Plan your work with a gamified technique to estimate the efforts of project management
    tasks your team needs to focus on.
  </h6>
</div>-->
<div class="image" style="text-align:center; ">
  <img src="assets/images/top.jpg" alt="Description de l'image" width="100%" height="600" style="border-radius: 8px">
</div>

<!--**********************************Discover what is Planning Poker Agile ?*******************-->
<div style="text-align:center">
  <h1 style="color:darkblue;">Discover what is Planning Poker Agile ?</h1>
</div>
<br>
<br>
<br>

<!--**********************************What is Planning Poker Agile?*******************-->
<div class="row g-0 bg-light position-relative">

  <div class="col-md-6 p-4 ps-md-0 mt-lg-5">
    <div class="h6" style="color:darkblue;" >What is Planning Poker Agile?</div>
    <br>
    <p>
      Planning Poker is one of the <b style="color:yellowgreen;">Scrum meetings</b> that helps teams estimate their upcoming work.
      <br>The team will estimate upcoming work items with a set of Fibonnaci-like values called story points.
      Each person selects their estimate privately, and  <b style="color:yellowgreen;">everyone displays their estimate at the same time</b>, reducing bias in choosing the estimate.
      <br>
      Once everyone's estimates are shown, the team will review the range of estimates and discuss any variance.
      <br>The team either then agrees the story point value for the item, or runs an estimation round again.
    </p>
    <!--    <a href="#" class="stretched-link">Go somewhere</a>-->
  </div>

  <div class="col-md-6 mb-md-0 p-md-4 ">
    <img src="assets/images/poker.png" alt="Description de l'image" width="500" height="300" style="border-radius: 4px">
  </div>
</div>

<br>




<!--***************************What are the benefits of the Planning Poker template?*******************-->
<div class="h6 col-lg-6" style="color:darkblue;">What are the benefits of the Planning Poker template?</div>
<br>
<div class="container overflow-hidden text-center">
  <div class="row gy-5">
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="me-3">
              <i class="fas fa-tasks fa-2x" style="color:blue;"></i> <!-- Example icon -->
            </div>
            <div>
              <p class="card-text">Estimate tasks relative to each other through the voting option and build a series of assignments that act as a reference for the upcoming Sprint.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="me-3">
              <i class="fas fa-handshake fa-2x" style="color:yellowgreen;"></i> <!-- Example icon -->
            </div>
            <div>
              <p class="card-text">Lend an equal voice for every person on your team by allowing them to speak up by playing the game and explaining their logic.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="me-3">
              <i class="fas fa-users fa-2x" style="color:lightgreen;"></i> <!-- Example icon -->
            </div>
            <div>
              <p class="card-text">Allow equal contribution for all team members to feel more committed to the plan and have actual input on it.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="me-3">

              <i class="fas fa-comments fa-2x" style="color:orange;"></i><!-- Example icon -->
            </div>
            <div>
              <p class="card-text">Initiate discussions about how team members estimate tasks and reach a consensus.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<br>
<!--*************** What are the Planning Poker steps ? *************************-->
<div class="h6 col-lg-6" style="color:darkblue;">What are the Planning Poker steps ?</div>

<!--*************** step1 *************************-->

<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="assets/images/create-room.PNG"  class="w-100" alt="...">
  </div>
  <div class="col-md-6 p-4 ps-md-0 mt-lg-5">
    <h5 class="mt-0" style="color:forestgreen;">1. Set The Stage</h5>
    <p>The product owner or Scrum master will act as the moderator,he will create the room,
      plannified a session and add team members.
      all team members will play, and there will be plenty of room
      for discussion and questions throughout the session.</p>
<!--    <a href="#" class="stretched-link">Go somewhere</a>-->
  </div>
</div>
<br>
<!--*************** step2 *************************-->

<div class="row g-0 bg-light position-relative">

  <div class="col-md-6 p-4 ps-md-0 mt-lg-5">
    <h5 class="mt-0" style="color:forestgreen;">2. Hand Out The Poker Cards</h5>
    <p>The Scrum master will choose the algorithm that match his project before
      starting the session and that's how each member of the team will have the same cards
    </p>
    <!--    <a href="#" class="stretched-link">Go somewhere</a>-->
  </div>

  <div class="col-md-6 mb-md-0 p-md-4 ">
    <img src="assets/images/algo.PNG"  class="w-100" alt="...">
  </div>
</div>

<br>
<!--*************** step3 *************************-->

<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="assets/images/jira.PNG"  class="w-100" alt="...">
  </div>
  <div class="col-md-6 p-4 ps-md-0 mt-lg-5">
    <h5 class="mt-0" style="color:forestgreen;">3. Import UserStories from JIRA</h5>
    <p>Elevate your planning poker sessions with our Jira integration! You effortlessly import your tickets from Jira, and have the results automatically synced back!.
      <br>
      Setup our integration with just a few clicks, and then you can use our advanced search to find and import your tickets.
      <br>
      We know know how painful it can be to manually update your tickets while planning, so we made it easy for you!</p>
    <!--    <a href="#" class="stretched-link">Go somewhere</a>-->
  </div>
</div>
<br>

<!--*************** step4 *************************-->
<div class="row g-0 bg-light position-relative">

  <div class="col-md-6 p-4 ps-md-0 mt-lg-5">
    <h5 class="mt-0" style="color:forestgreen;">4. Participate to session</h5>
    <p>The first step in Planning Poker for all team members is to join the estimation session.
     <br> This typically occurs during a sprint planning meeting where the entire team is present.
      The purpose is to ensure everyone has a common understanding of the work that needs to be estimated.
    </p>
    <!--    <a href="#" class="stretched-link">Go somewhere</a>-->
  </div>

  <div class="col-md-6 mb-md-0 p-md-4 ">
    <img src="assets/images/profil.PNG"  class="w-100" alt="...">
  </div>
</div>

<br>

<!--*************** step5 *************************-->

<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="assets/images/room.PNG"  class="w-100" alt="...">
  </div>
  <div class="col-md-6 p-4 ps-md-0 mt-lg-5">
    <h5 class="mt-0" style="color:forestgreen;">5. Play cards</h5>
    <p>Once everyone has selected their card, all team members reveal their chosen cards simultaneously.
      <br>
      This step is crucial to prevent any bias or influence during the estimation process.
      <br>
      It ensures that each estimate is based on the individual's understanding of the user story.
      <!--    <a href="#" class="stretched-link">Go somewhere</a>-->
  </div>
</div>
<br>

<!--*************** step6 *************************-->
<div class="row g-0 bg-light position-relative">

  <div class="col-md-6 p-4 ps-md-0 mt-lg-5">
    <h5 class="mt-0" style="color:forestgreen;">6. Communicate </h5>
    <p>Communicate with your team in real-time. We have a built-in chat feature
      that allows you to communicate with your team members.
      <br>
      The comments feature allows you to leave comments on the current ticket,
      ensuring you only see the comments that are relevant to the current planning poker topic.
    <!--    <a href="#" class="stretched-link">Go somewhere</a>-->
  </div>

  <div class="col-md-6 mb-md-0 p-md-4 ">
    <img src="assets/images/chat.PNG"  class="w-100" alt="...">
  </div>
</div>

<br>
<!--*************** step7 *************************-->

<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="assets/images/report.PNG"  class="w-100" alt="...">
  </div>
  <div class="col-md-6 p-4 ps-md-0 mt-lg-5">
    <h5 class="mt-0" style="color:forestgreen;">7. Download Report</h5>
    <p>OWe have Analytics at every level! View how your team is voting for each ticket, each session,
      or for all of your sessions inside of a Space!
      <br>
      We provide you with the tools to help you understand your teams estimates,
      and improve your planning sessions, with detailed analytics.
      <!--    <a href="#" class="stretched-link">Go somewhere</a>-->
  </div>
</div>
<br>


<div class="row">
  <!--  Scrum Poker planning Algorithms cards-->

    <div class="col-xxxl-6 col-xxl-12 col-md-7">
      <ngx-security-cameras></ngx-security-cameras>
    </div>

  </div>
