/* CSS général pour la responsivité */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
  color: #ffffff;
  font-weight: 300;
  font-size: 1.5rem; /* Utiliser rem pour une échelle de police plus flexible */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-backface-visibility: hidden;
}

/* Modal container */
.nb-card {
  max-width: 100%; /* S'assure que le modal ne dépasse pas la largeur de l'écran */
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nb-card-header, .nb-card-footer {
  text-align: center;
  padding: 0.5rem;
}

.nb-card-body {
  padding: 1rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 0.5rem;
  text-align: left;
}

@media (max-width: 768px) {
  /* Ajustements pour les tablettes */
  .nb-card-header, .nb-card-footer {
    font-size: 1.2rem;
  }

  .nb-card-body {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .table th, .table td {
    padding: 0.3rem;
  }

  .close-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  /* Ajustements pour les mobiles */
  .nb-card {
    width: 90%;
    padding: 0.5rem;
  }

  .nb-card-header, .nb-card-footer {
    font-size: 1rem;
  }

  .nb-card-body {
    font-size: 0.9rem;
  }

  .table th, .table td {
    padding: 0.2rem;
    font-size: 0.8rem;
  }

  .close-button {
    padding: 0.3rem 0.6rem;
    font-size: 0.8rem;
  }
}
