<nb-card size="medium">
  <div class="picture" style.background-image="url('assets/images/poker111-{{currentTheme}}.PNG')"></div>

  <div class="details">
    <div class="h4">What is Scrum Poker Planning ! </div>
    <div class="description">
      Scrum Planning Poker, also known as Planning Poker, is a consensus-based technique used to estimate the effort or complexity of tasks in Agile software development, particularly within the Scrum framework. It helps teams arrive at a shared understanding of the effort required for each user story or task.    </div>
  </div>

</nb-card>


