<nb-card>
  <nb-card-header style="font-weight: bold">Enter Your Pseudo</nb-card-header>
  <nb-card-body>
    <form [formGroup]="addUserForm">
      <input nbInput shape="round" fullWidth placeholder="name" formControlName="name" style="margin-bottom: 8px" />
    </form>
  </nb-card-body>
  <nb-card-footer class="footer-buttons">
    <button nbButton class="ctg" (click)="confirmAdd()" style="color: white;  background: linear-gradient(to right, #ff8a00, #e52e71);">Continue to game</button>
  </nb-card-footer>
</nb-card>
