<nb-card>
  <nb-card-header>Update your benefit</nb-card-header>
  <nb-card-body>
    <input nbInput fullWidth placeholder="Title" [(ngModel)]="benefit.title" />
    <textarea rows="5" nbInput fullWidth shape="round" [(ngModel)]="benefit.benefDescription"></textarea>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton hero status="primary" (click)="confirmUpdate()">Update Benefit</button>
    <button nbButton status="danger" class="cancel-button" (click)="cancel()">Cancel</button>
  </nb-card-footer>
</nb-card>
