<nb-card >

  <nb-card class="nb-card">
    <nb-card-header class="nb-card-header">
      How to Execute Planning Poker Rightly with the Correct Order of Steps ?
    </nb-card-header>
    <p>   The accuracy of Planning Poker estimation highly relies on how it is executed. Simple negligence in the steps can take away the true essence of the estimation technique and result in less accurate estimates. For example, if members do not pick cards hiddenly, then the junior members might just pick cards similar to senior members. Therefore, it is very important that Scrum teams follow the correct order of steps in the right way to execute Planning Poker effectively.
      Below is the correct order of steps to follow:
    </p>
    <div class="image-container col-xl-7">
      <img src="assets/images/planning.PNG" alt="Description de l'image">
    </div>

  </nb-card>
</nb-card>
