<nb-card>
  <nb-card-header style="font-weight: bold">Add benefit</nb-card-header>
  <nb-card-body>
    <form [formGroup]="addBenefitForm">
      <input nbInput shape="round" fullWidth placeholder="Title" formControlName="title" style="margin-bottom: 8px" />
      <textarea rows="5" nbInput fullWidth shape="round" placeholder="Description" formControlName="benefDescription"></textarea>
    </form>
  </nb-card-body>
  <nb-card-footer class="footer-buttons">
    <button nbButton hero status="primary" (click)="confirmAdd()">Add Benefit</button>
    &nbsp;<button nbButton status="danger" class="cancel-button" (click)="cancel()">Cancel</button>
  </nb-card-footer>
</nb-card>
