
.close-button {
  align-items: center;
  float: right;
  border: 2px solid #faedcd;
  color: #032669;
  padding: 10px 20px;
  margin-left: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  text-decoration: none;
}
